@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-sm text-gray-800 antialiased;
  }
}

@layer utilities {
  .minimal-scrollbar::-webkit-scrollbar {
    width: 14px;
  }
  .minimal-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-full;
  }
  .minimal-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full border-4 border-solid border-gray-100 bg-clip-padding;
  }
  .minimal-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }

  .lock-scroll {
    overflow: hidden !important;
    overscroll-behavior: contain;
  }
}

/* Page Loader Spinner Styles */
.spinner {
  --size: 30px;
  --first-block-clr: #005bba;
  --second-block-clr: #fed500;
  --clr: #111;
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}
